<launch>

	<arg name="j1" default="-375" />
	<arg name="j2" default="0" />
	<arg name="j3" default="0" />
	<arg name="j4" default="0" />
	<arg name="j5" default="0" />
	<arg name="j6" default="0" />
	<arg name="j7" default="0" />	

   	<node pkg="rostopic" type="rostopic" name="$(anon arm_encoder_targets)"
        	args="pub arm_encoder_targets std_msgs/Int16MultiArray '{layout: { dim: [], data_offset: 0 }, data: [$(arg j7), $(arg j6), $(arg j5), $(arg j4), $(arg j3), $(arg j2), $(arg j1)]}'" output="screen" />
</launch>
